<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Relationships</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7c6da">
        <a class="navbar-brand" href="#">Family Relationships</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSuppertedContent">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Ver Registros<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body style="background-color: #0d3b66; color: #ffffff">
<div class="container">
    <br>
    <div class="alert alert-success" role="alertdialog" hidden="true" id="successful">
        <h4 class="alert-heading">Operación Finalizada</h4>
        <p>Se ha añadido correctamente el registro.</p>
    </div>
    <div class="alert alert-danger" role="alertdialog" hidden="true" id="error">
        <h4 class="alert-heading">Error</h4>
        <p>Ha ocurrido un error inesperado con la aplicación.</p>
    </div>
    <h1 style="text-align: center">Ingresa aquí los datos</h1>
    <div class="container" style="background-color: #a7c6da;
    color: #000000;
    border-radius: 15px;
    columns: 2">
        <form name="RegistrationForm" action="SendData" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label for="FirstName">Primer Nombre</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="Ej. John">
                    <label for="MiddleName">Segundo Nombre</label>
                    <input type="text"  class="form-control" id="MiddleName" placeholder="Ej. Antonio">
                    <label for="LastName">Primer Apellido</label>
                    <input type="text" class="form-control" id="LastName" placeholder="Ej. Bonilla">
                    <label for="SecondLastName">Segundo Apellido</label>
                    <input type="text"  class="form-control " id="SecondLastName" placeholder="Ej. Char">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="Country">Pais de proveniencia</label>
                    <input type="text" class="form-control" id="Country" placeholder="Ej. Colombia">
                    <label for="State">Estado</label>
                    <input type="text" class="form-control" id="State" placeholder="Ej. Distrito Capital">
                    <label for="City">Ciudad</label>
                    <input type="text" class="form-control" id="City" placeholder="Ej. Bogotá">
                </div>
            </div>
            <input class="btn btn-primary form-control" type="submit" value="Registrar">
        </form>
    </div>
</div>
</body>
<footer>
    <p style="text-align: center">©2021 - Universidad El Bosque - Gabriel Blanco; Juan Pablo Araque; Juan Barrera; Juan Camacho</p>
</footer>
</html>
